body {
  background-color: lightseagreen;
  height: 100%;
  /* background-image: url(images/bg.jpg) no-repeat center center fixed;  */
  background-size: cover;
  }

  h1 {
    text-align: center;
  }
